

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html{
     font-size: 16px;
}

body, html{
        height: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

body {
/*    Une largeur max en px mais pas de largeur fixe pour un max de responsive*/
  max-width: 1200px;
  margin: 0 auto;
/*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
*/
}


/*Header en flex */

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
/*    La largeur en pourcentage par rapport au parent donc au body*/
    width: 85%;
    font-family: 'Annie use your telescope', serif;
    padding-top: 1%;
    margin: 0 auto; 
}

/*Taille du logo.*/
header > a {
    display: block;
    width : 12%;
    min-width: 50px;
    text-align: center;
}

/*titre ecole de guitare...*/
header > h3 {
    color:#F05C22;
    font-size: 1.6rem;
}

main{
/*    Toujours la même largeur pour le main, le header et le footer comme ça c'est aligné. Et on centre avec le margin. Cette fois on sépare aussi le top et le bottom du main du header et du footer de 2vw;*/
    width: 85%;
    margin: 2vw auto;
/*    Je mets du padding en %, comme pour la taille du lapin, comme ça ça suit quand on resize. Ce padding est nécessaire car plus bas dans le code je fais sortir des éléments d'une div et du coup ils dépassent du main. En rajoutant du padding je contre-carre cet effet.*/
    padding-top: 16%;
    padding-bottom: 2%;
   
/*    Avec les padding suivants je décole les enfants de mon main des bords. Comme le main a une couleur, ça fait bizarre si les éléments sont collés au bord.*/
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(17, 156, 225, 0.27);
    border-radius: 15px;
/*    Position relative pour pouvoir mettre certains enfants en absolute.*/
    position:relative;
    height: 40vw;
}

/*Je mets le nom du jeu en absolute en haut à gauche*/
.nomJeu{
  width: 15%;
  position: absolute;
  top: 3%;
  left:2%;
  border-bottom:  rgba(59, 61, 61, 0.39) 0.2rem solid;
  padding: 1% 0;
}

.nomJeu p{
color:#9854A0;
text-align: center;
font-family: "orator std", sans-serif;
font-size: 1.2rem;
font-weight: bold;
}

/*Je place l'icône jouer en haut à droite de mon main*/
main > a{ 
  display: block;
  width: 10%;
  min-width: 40px;
  text-align: center;
  position: absolute;
  top: 3%;
  right:3%;
  
}


/*icone jouer lapin*/
  


    #jouer .st0{fill:#F5A4B6;}
	#jouer .st1{fill:#FFFFFF;}
	#jouer .st2{fill:#2EA6DD;}
	#jouer .st3{fill:#736D9F;}
	#jouer .st4{opacity:0.76;fill:#FFFFFF;enable-background:new    ;}
	#jouer .st5{opacity:0.8;fill:#FFFFFF;enable-background:new    ;}
	#jouer .st6{fill:#F59222;}
	#jouer .st7{fill:#2EA6DD;fill-opacity:0;}
	#jouer .st8{fill:#F59222;stroke:#F59222;stroke-width:0.5;}
	#jouer .st9{font-family:'OratorStd';}
	#jouer .st10{font-size:17.0812px;}
    
    
   
    
     @keyframes boucheSiffle{
    0%, 100%{transform: translate(-100%, 0); fill:#F5A4B6;}
    10%{transform: translate(-150%, -54%); fill:#FFFFFF; }
    30%{transform: translate(-150%, -54%); fill:#FFFFFF;}
    31%{transform: translate(-100%, 0); fill:#F5A4B6; }
    }
    
    @keyframes jouesRoses{
    0%, 100%{fill:#F5A4B6;}
    5%{fill:#ef2c57;}
    30%{fill:#ef2c57;}
    31%{fill:#F5A4B6;}
    }
    
    @keyframes note1{
    0%, 100%{opacity:0;}
    5%{opacity:1;}
    20%{opacity:1;}
    21%{opacity:0;}
    }
    
    @keyframes note2{
    0%, 100%{opacity:0;}
    10%{opacity:1;}
    30%{opacity:1;}
    35%{opacity:0;}
    }
    
    @keyframes jouesGrosses{
    0%, 100%{transform: scale(1);}
    5%{transform: scale(1.1, 1.1);}
    30%{transform: scale(1.1, 1.1);}
    31%{transform: scale(1);}
    }
    
    @keyframes disapear {
    0%, 100%{fill:#FFFFFF;}
    1%{fill:#F5A4B6;}
    31%{fill:#F5A4B6;}
    32%{fill:#FFFFFF;}
    }
    
    #bouche{
    transform: translateX(-100%);
    animation: boucheSiffle 10s linear 5s infinite;
    }
    
    #joues ellipse{
    animation: jouesRoses 10s linear 5s infinite;
    
    }
    
    #joues{
    animation: jouesGrosses 10s linear 5s infinite;
    transform-origin: center center;
    }
    
    #sourire{
    animation: disapear 10s linear 5s infinite;
    }
    
    #note1{
    opacity:0;
    animation: note1 10s linear 5s infinite;
    }
    
    #note2{
    opacity:0;
    animation: note2 10s linear 5s infinite;
    }


/*C'est parti pour la div "centre" !*/


#centre  {
/*    centre fait 100% de son parent main en largeur et en hauteur;*/
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
}

/*L'aside enfant de centre fait 10% de son parent centre. Aside est lui même en flex.*/
aside{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120%;
    
}


/*navigation*/


aside > a {
    display: block;
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 100%;
/*    Pour centrer le texte dans les a on utilise du padding et le text-align   */
/*    padding: 3.5vw 0;*/
    text-align: center;
/*
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "myriad pro", sans-serif;
*/
/*    font-family: "orator std", sans-serif;*/
    }


/*rond anatomie orange*/
aside > a:first-of-type {
    background-color: #F59222;
/*    background-color: #F05C22;*/
    background-image: url(../images/icones/iconesJeuAnatomie2.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
} 

/*rond simon vert*/
aside > a:nth-of-type(2) {
    background-color:#3EB44A;
    background-image: url(../images/icones/iconesJeuSimon2.svg);
    
}

/*rond accords bleu*/
aside > a:nth-of-type(3) {
    background-color:#2EA6DD;
    border: 1vw solid #F05C22;
    width:7.5vw;
    height:7.5vw;
    border-radius:100%; 
    background-image: url(../images/icones/iconesJeuAccord2.svg);
    
}

/*La guitare ! Elle fait 70% de son parent centre. */
#guitar{
    width: 70%;
    height:90%; 
    position: relative;
    margin-left: 5%;

  
}

/*Lapin, sous-titre(ce que dit le lapin et le boutton) et cordes sont tous en absolute par rapport au parent guitare.*/



/*lapin*/
#lapin {
    width: 25%;
    z-index:5;
    position:absolute;
    left:-1%;
    top:0;
    transform: translateY(-79%);
}

/*Une classe qu'on activera dans le script quand on place le capo sur la guitare'*/
.animation{
    animation : lapinSaute 1s linear 0.2s 1;
}

@keyframes lapinSaute{
    0%,100%{transform: translateY(-79%);}
    10%{transform: translateY(-85%);}
    30%{transform: translateY(-85%);}
    40%{transform: translateY(-79%);}   
}

#sousTitre{
    text-align: center;
    position: absolute;
    top:0;
    left: 17%;
    transform:  translateY(-110%);
    width: 80%;
}

#sousTitre p{
    font-size: 2rem;
    font-weight: bold;
    color: #2EA6DD;
    font-family: 'Annie use your telescope', serif;
    margin-bottom: 2%;
}

#sousTitre p:first-of-type{
    color: #9854A0;
}

/*bouttons accords*/
button {
/*    background-color: #3EB44A;*/
    background-color: #9854A0;
    width: 4rem;
    height: 3rem;
    border-radius: 0.8rem;
/*    box-shadow: 0 0.5rem #1f5a25;*/
    box-shadow: 0 0.5rem #522258;
    
/*     #af6006*/
/*    pour centrer le texte :*/
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: white;
/*    J'éloigne le bouton de ses frères et soeurs en haut et en bas et sur les côtés :*/
    margin: 2% 0.5%;
/*    Je décolle le texte des bords droit et gauche du bouton :*/
    padding: 0.2rem 0;
    border-width: 0;
}
  

button:active {
/*    box-shadow: 0 0.2rem #1f5a25;*/
    box-shadow: 0 0.2rem #522258;
    transform: translateY(5px);
}


/*Un tableau pour réaliser les 4 premières cases de la guitare*/
table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

tr{
    width: 100%;
    height: 100%;
}

/*Chaque case c'est à dire chaque td fait 25% du tableau'*/
td{ width: 25%;
    height: 100%;
    border-left: 0.7vw solid #F05C22;
    border-right: 0.7vw solid #F05C22;
    background-color: rgba(239, 156, 63, 0.9);
/*    background-color: rgba(239, 156, 63, 1);*/
/*        background-color: rgba(152, 84, 160, 0.53);*/
}


/*Petit rond dans 3ème case*/
td:nth-of-type(3) span{
    display: block;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    margin:0 auto;
    background-color: #766d6d; 
}

#capo{
    width: 15%;
    height: 100%;
    z-index:4;
    display: none;
    background-color: #F05C22;
    position: absolute;
    left:5%;
    top:0;   
}

/*Propriétés valables pour toutes les cordes :*/
.string {
  
  z-index: 2;
  height: 0.7vw;
  width: 100%;
  background-color: #202021;
  position: absolute;
  border-bottom: solid 0.1vw #cfd5d8;
  
}

#string1 {
  top: 8%;
    
}
#string2 {
  top: 24%;
}
#string3 {
  top: 40%;
}
#string4 {
  top: 56%;
}

#string5 {
  top: 72%;
}
#string6 {
  top: 88%; 
}


/*Les ronds de couleur. En display none, ils seront activés dans le script*/
#pastilles{
    display:none;
}

#index, #majeur, #annulaire{
   width: 5vw;
   height: 5vw;
   border-radius: 100%; 
   z-index:3;
   position: absolute;
/*   opacity: 0.6;*/
}

#index{
   background-color: #F05C22; 
}

#majeur{
    background-color: #3EB44A;
}

#annulaire{
    background-color: #2EA6DD;
}



/*Le menu de droite*/
#asideDroit{
    width:  6%;
    height: auto;
    align-self: center;

}

/*Dans lequel on n'a que l'icône son, cliquable donc dans un a*/
#asideDroit a{
  display: block;
  text-align: center;
  width: 100%;
}

/*icône son*/
#sound{
    width: 130%;
    min-width: 20px;
}

/*FOOTER*/
footer{
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
}

footer div{
    width: 90%;
    padding-bottom: 2%;
}

footer div > h3{
  text-align: left;  
  width: 100%;
  color: #848484;
}

footer h3 span:first-of-type{
   font-family: "annie use your telescope", cursive;
   font-size: 1.6rem;
}


footer h3 span:nth-of-type(2){
  margin: 0 2%;
}

footer h3 span:nth-of-type(2), footer h3 span:last-of-type{
  font-family: "myriad pro", sans-serif;
  font-size: 1rem;
}

footer a {
    width: 8%;
    text-align: right;
    min-width: 35px;
    padding-right: 3%;
}

/*
footer a #mauve{
    width: 100%;
}
*/

/*icone informer monstre mauve miniature*/



#mauve .st0{fill:#F59221;}
#mauve .st1{fill:#9854A0;}
#mauve .st2{fill:#FFFFFF;}
#mauve .st3{fill:#53C7E9;}
#mauve .st4{fill:#2EA6DD;}
#mauve .st5{fill:#F59222;}
#mauve .st6{fill:#3EB44A;}
#mauve .st7{fill:#9954A0;}
#mauve .st8{fill:#CB9EC8;stroke:#FFFFFF;stroke-width:0.25;stroke-miterlimit:10;}
#mauve .st9{fill:#F59222;stroke:#F59222;stroke-width:0.5;}
#mauve .st10{font-family:'OratorStd';}
#mauve .st11{font-size:17.0812px;}
    
    
#paupiere{
animation: paupiere 5s linear 3s infinite;
}

@keyframes paupiere {
    0%{transform: translateY(0%);}
    2%{transform: translateY(100%);}
    4%{transform: translateY(100%)}
    5%{transform: translateY(0%)}
    100%{transform: translateY(0%)}
}


/*RESPONSIVE */

/*Message pour inviter à passer en mode paysage*/
.messagePaysage{
    
    display: none;
}

/*    points de rupture : 1200 1024 900 768 720 640 480 360*/

/* 4K etc.*/
     @media (min-width: 1600px) {
        html {
        font-size: 1vw !important;
        }
        
        body {
        max-width: inherit !important;
        } 
     }

/*      taille police globale */

     @media (max-width: 1200px) {
        
        html {
        font-size: 14px;
        }
    }

    @media (max-width: 1024px) {
        html {
        font-size: 13px;
        }
    }

    @media (max-width: 900px) {
        html {
        font-size: 12px;
        }
    }

    @media (max-width: 768px) {
        html {
        font-size: 11px;
        }
    }

    @media (max-width: 640px) {
        html{
        font-size: 10px;
        }
    }

    @media (max-width: 480px) {
        html{
        font-size: 9px;
        }
    }

    @media (max-width: 360px) {
        html{
        font-size: 8px;
        }
    }




/*    PAYSAGE EN FONCTION HAUTEUR DE L'ECRAN (height en vh marche pas bien car pas possible de mettre un min-height. Peut-être utiliser des device ratio ?) Pour Ipad et autre ordi en mode paysage avec hauteur supérieur à 675px : main plus important pour prendre de la place en hauteur */
    @media (max-width: 1024px) and (min-width: 768px) and (min-height: 675px) {
        
        header{
        height: 10%;
        }
        
        main{
/*        pour être sûr que la partie centrale est à peu près centrée on lui donne une hauteur de 70%, la div centre en revanche devient fixe, en vw, car on ne peut pas resizer le manche de la guitare en hauteur. On modifie le padding pour qu'elle soit centrée, en vh pour qu'il suive les différentes hauteurs. */
        height: 70%;
        padding-top: 20%;
        }
        
        #centre{
        height: 25vw;
        }
        
        footer{
        height: 10%;
        }
    }

    @media (max-width: 900px) and (orientation: landscape){
        #button{
        margin-left: 5%;
        }
    }
        
    @media (max-width: 768px) and (min-width: 720px) and (min-height: 526px){
        main{
/*        pour être sûr que la partie centrale est à peu près centrée qqsoit le format de tablette on lui donne une hauteur de 55%, la div centre passe en vw*/
        height: 70%;
        padding-top: 20%;
        }
        
        #centre{
        height: 25vw;
        }
    }
    

    @media (max-width: 720px) and (orientation: landscape){
        #button{
        width: 100%;
        }
        
        button{
        width: 3.5rem;
        }
    }
    
    @media (max-width: 640px) and (orientation: landscape){
        
        main #sousTitre p{
        padding-bottom: 0;
        margin: 0;
        line-height: 1;
        }
        
        main{
        padding-top: 16%;
        padding-bottom: 2%;
        }
        
        button{
        margin-left:0;
        }
    }

        @media (max-width: 520px) and (orientation: landscape){
        
        button{
        width:3rem;
        }
    }

        @media (max-width: 420px) and (orientation: landscape){
        
        button{
        width:2.5rem;
        height:2.5rem;
        }
        
        #sousTitre p{
        font-size: 1.8rem;
        }
    }
                
        


        
    /* On enlève du texte petit à petit */

  @media (max-width:640px){
       
        footer h3 span:nth-of-type(2){
        display: none;
        }
        
        footer h3 > span:first-of-type{
        margin-right: 2%;
        }
    }
        
    @media (max-width: 480px) {
        
        
        .titreASuppr{
         display: none;
        }
        
        .nomJeu p{
        text-transform: uppercase;
        }
        
        footer h3 > span:first-of-type{
        font-size: 1.2rem;
        }
        
        footer h3 > span:last-of-type{
        font-size: 1rem;
        margin-left: 2%;
        }
        
        footer h3 span:not(:last-of-type){
         display: none;
         } 
    }
      
     @media (max-width: 360px) {
        button{
        margin: 1% 0;    
        }
        
        main{
        height: 42vw;
        padding-top: 20%;
        }
    }

/*     PORTRAIT /// pour tablettes et gsm en portrait inversion des directions de flex : colonnes en lignes et lignes en colonne et proportions etc. ET message : pour jouer c'est mieux en format paysage */

    @media (max-width: 900px) and (orientation: portrait){
        
        
        .messagePaysage{
        display: block;
        width: 80%;
        background-color: white;
        border-radius: 12px;
        padding: 5%;
        }
        
        .messagePaysage p{
        font-size: 1.6rem;
        font-family: 'myriad pro', sans-serif;
        color: #9854A0;
        text-align: center;
        line-height: 1.8;
        font-weight: bold;
        }
        
        html{
        font-size: 14px;
        }
        
        body{
        min-height: 1189px;
        }
       
        
        header, footer, main{
        width: 90%;
        }
        
        header, footer{
        height: 7%;
        }
        
        main{
        height: 80%;
        padding-top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        }
        
        body main > #centre {
        width: 90%;
        height: 55%;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        }
        
/*
        body main > #centre #sousTitre {
        top:-15%;
        }
    
*/
        button{
        margin: 3% 2%;
        width: 5rem;
        height: 4rem;
        }
        
        #button{
        width:60%;
        display: block;
        margin: 0 auto;
        }
        
        #centre aside {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        }
        
        #centre aside a{
        width: 10vw;
        height: 10vw;
        }
        
        #centre aside a:last-of-type{
        width: 11vw;
        height: 11vw;
        }
        
        #guitar{
        height: 30vw;
        width: 90%;
        margin: 0 auto 15%;  
        }
        
        #guitar table{
        height: 30vw;
        }
        
        #asideDroit{
        
        align-self: flex-end;
        margin-bottom: 15%;
        }
        
        
        .nomJeu{
/*
        top: 6%;
        left: 4%;
*/
        width: 20%;
        }
        
        .nomJeu p{
        text-transform: uppercase;
        
        }
    }

    @media (max-width: 768px) and (orientation: portrait){
        body{
        min-height: 1029px;
        }
     
        button{
        width: 4rem;
        height: 3rem;
        }
        
        footer h3 span:nth-of-type(2){
        display: none;
        }
        
        footer h3 > span:first-of-type{
        margin-right: 2%;
        }
    }
        
    @media (max-width: 640px) and (orientation: portrait){
        
        body{
        min-height: 885px;
        }
        
        main{
        padding-top: 30%;
        }
        
        body main > #centre #sousTitre {
        top:0;
        }
    
        
        #button{
        width: 80%;
        display: block;
        margin: 0 auto;
        }
    }

        
    @media (max-width: 480px) and (orientation: portrait){
       
    
        #sous-titre{
        width: 100%
        }
        
        #centre #sousTitre p{
        font-size: 1.7rem;
        }
        
        .nomJeu{
        top: 6%;
        left: 4%;
        }
        
        body{
        min-height: 700px;
        }
        
        .messagePaysage p {
        font-size: 1.5rem; 
        }
        
        button{
        width: 3rem;
        height: 2rem;
        }
    }
        

    @media (max-width: 420px) and (orientation: portrait){
    
        #centre #sousTitre p{
        font-size: 1.5rem;
        }
        
    }

    @media (max-width: 360px) and (orientation: portrait){
        html{
        font-size: 11px;
        }
        
        body{
        min-height: 520px;
        }
        
        #sousTitre{
        top:-50%;
        }
        
        
        header > h3{
        font-size: 1.8rem;
        }
        
        footer h3 > span:last-of-type{
        font-size: 1.3rem;
        }
        
        
    }
        
     





